body{
  margin: 4px;
}
.Nav_bar ul{
  list-style-type: none;
  background-color: rgb(27, 27, 27);  
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  border-radius: 30px;

}
div.navDiv{
  position: sticky;
  top: 0;
  z-index: 5;
}
.Nav_bar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.Nav_bar a:hover{
  background-color: rgb(66, 66, 66);
 
  border-radius: 20px;
}

.Nav_bar li{
  float: left;        
}
